<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.Benchmarks\Orc.Benchmarks.NET40\packages.config" />
  <repository path="..\src\Orc.Competitions\Orc.Competitions.NET40\packages.config" />
  <repository path="..\src\Orc.Competitions\Orc.Competitions.SL5\packages.config" />
  <repository path="..\src\Orc.Submissions\Orc.Submissions.NET40\packages.config" />
  <repository path="..\src\Orc.Submissions\Orc.Submissions.SL5\packages.config" />
  <repository path="..\src\Orc.Test\packages.config" />
  <repository path="..\src\Orc\Orc.NET40\packages.config" />
  <repository path="..\src\Orc\Orc.SL5\packages.config" />
  <repository path="..\src\RandomtestCases\packages.config" />
</repositories>